
.selectGroup{
    padding: 3px;
}

.displayButton{
    position: relative;
}

.btn{
    background:  #f8f8fa;;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
    margin-left: 50px;
}

.selectStyle{
    width: 100px;
    border-radius: 5px;
    background: white;
    padding: 2px 5px;
}

.navbar {
    display: flex;
    align-items: center;
    
    background: white;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
    height: 30px;
}